body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #2d0136;
  color: #fff;
  padding: 16px;
  text-align: center;
}
header a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
}
header a:hover {
  background-color: #ae31c7;
}
main {
  padding: 16px;
  background-color: #efefef;
}
section {
  background-color: #fff;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 160px;
}

h1 {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  width: 100%;
  border-bottom: 2px solid #9b0976;
  padding-bottom: 8px;
}

.btn-voltar {
  margin-top: 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #880ea7;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.1s ease;
}

.btn-voltar:hover {
  background-color: #650a7c; /* Cor de fundo mais escura ao passar o mouse */
}

.movie {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.movie-card {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 250px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.movie-card h4 {
  margin: 4px;
  text-align: center;
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: large;
}
.movie-card img {
  width: 100%;
  min-height: 300px;
  border-radius: 4px;
}
.last {
  margin-bottom: 60px;
}
footer {
  text-align: center;
  background-color: #2d0136;
  padding: 16px;
  color: #fff;
  bottom: 0;
  position: fixed;
  width: 100%;
}
